alignments-cli/venv/lib/python3.9/site-packages/alignments_cli/__pycache__
alignments-cli/venv/lib/python3.9/site-packages/alignments_cli-0.1.0.dist-info
alignments-cli/venv
alignments-clients/pip-client/venv
alignments-cli/alignments_cli/__pycache__
clients/pip-client/venv
alignments-pipelines/alignment_pipelines/__pycache__
fast_align
clients/poetry-client/outputs/XL-WA/data
clients/poetry-client/outputs/XL-WA/data
giza-pp
